## One-Hot encoding the Weather Condition Column

In [1]:
import pandas as pd

In [6]:
df = pd.read_csv("../data/final_game_logs_2024.csv")

In [9]:
df["condition_code"] = df["condition_code"].astype("category")
condition_dummies = pd.get_dummies(df["condition_code"], prefix="condition")

In [11]:
df = pd.concat([df, condition_dummies], axis=1)
df = df.drop(columns=["condition_code"])

In [19]:
df = df.drop(columns=["Unnamed: 0.1", "Unnamed: 0"])

In [25]:
df.head()

,game_id,home_name,away_name,home_probable_pitcher,away_probable_pitcher,away_score,home_score,home_ERA,home_ER,home_R,...,condition_0,condition_1,condition_2,condition_3,condition_4,condition_5,condition_6,condition_7,condition_8,condition_9
0,748266,San Diego Padres,Los Angeles Dodgers,Joe Musgrove,Gavin Stone,14,1,3.88,43.0,44.0,...,False,False,True,False,False,False,False,False,False,False
1,748344,Boston Red Sox,Northeastern Huskies,Helcris Olivárez,Aiven Cabral,2,7,NaN,NaN,NaN,...,True,False,False,False,False,False,False,False,False,False
2,748263,Texas Rangers,Kansas City Royals,Dane Dunning,Daniel Lynch IV,4,5,5.31,56.0,60.0,...,True,False,False,False,False,False,False,False,False,False
3,748341,Chicago Cubs,Chicago White Sox,Jordan Wicks,Jesse Chavez,1,8,5.48,28.0,31.0,...,False,False,False,True,False,False,False,False,False,False
4,748260,Los Angeles Dodgers,San Diego Padres,Landon Knack,Jhony Brito,1,4,3.65,28.0,28.0,...,False,False,False,True,False,False,False,False,False,False

In [23]:
df.to_csv("../data/final_game_logs.csv", index=False)

In [10]:
import glob 

weather_files = glob.glob("../data/weather/weather_partial_*.csv")
weather_dfs = [pd.read_csv(f) for f in weather_files]
weather_joined = pd.concat(weather_dfs, ignore_index=True)
print("Shape : ", weather_joined.shape)

Shape :  (2998, 4)

In [28]:
mask = df["condition_1"] == True
game_ids = df.loc[mask, "game_id"]
weather_joined[weather_joined["game_id"].isin(game_ids)]

      game_id  temp condition               wind
18     745635  75.0     Clear  13 mph, Out To RF
20     746124  77.0     Clear   8 mph, Out To RF
31     746524  89.0     Clear  5 mph, In From CF
33     745227  73.0     Clear  2 mph, In From CF
35     747090  83.0     Clear   8 mph, Out To RF
...       ...   ...       ...                ...
2960   746966  51.0     Clear  4 mph, In From RF
2976   745756  57.0     Clear   9 mph, Out To LF
2982   747208  91.0     Clear      4 mph, R To L
2983   745665  61.0     Clear  18 mph, Out To RF
2984   746152  64.0     Clear   9 mph, Out To RF

[533 rows x 4 columns]